@import './rkt_viewer_file_picker_grid_content_drag_source_thumbnail/rkt_viewer_file_picker_grid_content_drag_source_thumbnail.scss';

$purpleMain: #443363; //rgb(110, 83, 158);

.drag-source {
    
    height: fit-content;
    width: fit-content;

    .assigned-label {
        display: inline-table;
        position: absolute;
        top: 5px;
        left: 5px;
        background-color: $purpleMain; //#00558b;
        border-radius: 5px;
        color: whitesmoke;
        //font-size: 0.8em;
        padding: 2px;

        .assigned-label-name  {
            padding: inherit;
        }

        .deleteIconButton {
            padding: inherit;
        }
        
    }

}

