@import './rkt_viewer_image_selection_grid_content_drag_source/rkt_viewer_image_selection_grid_content_drag_source.scss';

.image-selection-grid-content {
    padding: 10px;
    background-color: #1d1d1d;
    overflow-y: scroll;
}