@import './../../rkt_toolbox/rkt_toolbox_list/rkt_toolbox_list.scss';
@import './../../rkt_animation/rkt_animation_loading/rkt_animation_loading.scss';

.container-viewer {
	margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: transparent;
}

.container-axes {
    position: absolute;
    width: 150px;
    height: 150px;
    border: none;
    margin: 0;
    padding: 0px;
    left: 20px;
    bottom: 20px;
    z-index: 2;
    background-color: transparent;
}

#container-toolboxes {
    position: absolute;
    top: 0px;
    z-index: 2;
    right: 0px;
}