/*
# Rocket viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Rocket viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Rocket viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# María del Pilar García
# Daniele Pezzatini
# Contributors: 
# Sergio Sánchez Martínez
*/

$purpleMain: #443363;//rgb(110, 83, 158);
$purpleHover:#a58cd8;
$purpleSeparator:#a48cd84d;

.rkt-card-viewer{
    //padding: 10px;
    display: inline;
    h2{
        color:$purpleHover;
    }
    word-wrap: break-word;
    overflow: hidden;
}

.rkt-card-viewer-content{
    padding: 10px;
    border-bottom: 1px solid $purpleSeparator;
    margin-right: 10px;
    
    &:hover{
        background-color: rgba(0, 0, 0, 0.09);
    }
}

.rkt-card-viewer-links{
    padding-top: 7px;
}

.rkt-card-viewer-link{
    padding-top:5px;
    a{
        color:rgba(255, 255, 255, 0.64);
        &:hover{
            color:$purpleHover;
        }
    }
    overflow: hidden;
}

.rkt-card-viewer-tags{
    overflow: hidden;
}
.rkt-card-viewer-tag{
    padding-top: 10px;
    padding-right: 5px;
    font-size: 11pt;
    //overflow: hidden;
    color:$purpleHover;
}