$purpleMain: #443363;//rgb(110, 83, 158);
$purpleHover:#a58cd8;
$purpleSeparator:#a48cd84d;

.rkt-card-viewer{
    //padding: 10px;
    display: inline;
    h2{
        color:$purpleHover;
    }
    word-wrap: break-word;
    overflow: hidden;
}

.rkt-card-viewer-content{
    padding: 10px;
    border-bottom: 1px solid $purpleSeparator;
    margin-right: 10px;
    
    &:hover{
        background-color: rgba(0, 0, 0, 0.09);
    }
}

.rkt-card-viewer-links{
    padding-top: 7px;
}

.rkt-card-viewer-link{
    padding-top:5px;
    a{
        color:rgba(255, 255, 255, 0.64);
        &:hover{
            color:$purpleHover;
        }
    }
    overflow: hidden;
}

.rkt-card-viewer-tags{
    overflow: hidden;
}
.rkt-card-viewer-tag{
    padding-top: 10px;
    padding-right: 5px;
    font-size: 11pt;
    //overflow: hidden;
    color:$purpleHover;
}