/*
# Rocket viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Rocket viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Rocket viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# María del Pilar García
# Daniele Pezzatini
# Contributors: 
# Sergio Sánchez Martínez
*/

@import "./../../../rkt_modal/rkt_modal_todo_list/rkt_modal_todo_list.scss";
@import './rkt_viewer_image_selection_sidebar_drop_target/rkt_viewer_image_selection_sidebar_drop_target.scss';
$purpleMain: #443363;//rgb(110, 83, 158);

.image-selection-sidebar {
    background-color: #282828;
    overflow-x: hidden;
    overflow-y: auto;
    //justify-content: center;

    .open-modal-todo-list-button {
        padding: 12px;
        //font-size: .9rem;
        display: inline-block;
        background: $purpleMain;//#00558b;//#333
        margin: 10px;
        overflow: hidden;
        color: #ffffff;
        text-align: center;
    
        &:focus, &:hover {
            background: #6f579a;//#004876;
            color: #fff;
        }
        
    }
}

