@import './rkt_viewer_file_picker_sidebar_drop_target/rkt_viewer_file_picker_sidebar_drop_target.scss';

.file-picker-sidebar {
    background-color: #282828;
    overflow-x: hidden;
    overflow-y: auto; // IT WORKS... BUT THE SCROLL BAR IS ONLY SEEN WHEN I SCROLL
}

