/*
# Rocket viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Rocket viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Rocket viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# María del Pilar García
# Daniele Pezzatini
# Contributors: 
# Sergio Sánchez Martínez
*/

@import './rkt_viewer_dicom/rkt_viewer_dicom.scss';
@import './rkt_viewer_empty/rkt_viewer_empty.scss';
@import './rkt_viewer_study_viewer/rkt_viewer_study_viewer.scss';
@import './rkt_viewer_image_selection/rkt_viewer_image_selection.scss';
@import './rkt_viewer_filter_dicom/rkt_viewer_filter_dicom.scss';
@import './rkt_viewer_image_processing_dicom/rkt_viewer_image_processing_dicom.scss';
@import './rkt_viewer_nrrd/rkt_viewer_nrrd.scss';
@import './rkt_viewer_tiff/rkt_viewer_tiff.scss';
@import './rkt_viewer_pdf/rkt_viewer_pdf.scss';
@import './rkt_viewer_ply/rkt_viewer_ply.scss';
@import './rkt_viewer_vtk/rkt_viewer_vtk.scss';
@import './rkt_viewer_ecg/rkt_viewer_ecg.scss';
@import './rkt_viewer_jpg_png/rkt_viewer_jpg_png.scss';

//colors
$rkt-viewer-background-color:#272822;
$rkt-viewer-font-color:#75715e;

.rkt-viewer{
    background-color: $rkt-viewer-background-color;
    color:$rkt-viewer-font-color;
}