
.image-selection-viewer {
    background-color: #282828;
    color:white;
    overflow: hidden;

    .container-instructions p{
        width: 100%;
        text-align: center;
        padding: 20px;
    }
}

