
.image-filename{
    text-align: center;
    padding-top: 5px;
  
    i {
      color: #991111;
    }
}
  
.error-not-image{
    color: #991111;
    display: block;
    text-align: center;
    margin-top: 10%;
}
  
.loading-icon{
    color: #efefef;
    display: block;
    text-align: center;
    margin-top: 40%;
}

.container-thumbnail {
    
    .image-thumbnail{
        border: 2px solid $background-grid-content;
        // &:hover{
        //     border: 2px solid #00558b;
        // }
    }
}

.container-thumbnail.selected .image-thumbnail{
    border: 2px solid #00558b;
}
  