
.dicom-filename{
    text-align: center;
    padding-top: 5px;
  
    i {
      color: #991111;
    }
}
  
.error-not-image{
    color: #991111;
    display: block;
    text-align: center;
    margin-top: 10%;
}
  
.loading-icon{
    color: #efefef;
    display: block;
    text-align: center;
    margin-top: 40%;
}

.dicomImageContainer {
    padding: 5px !important;

    .dicomImage{
        border: 2px solid black;
    }
}

.dicomImageContainer.selected .dicomImage{
    border: 2px solid #00558b;
}
  