
.main-dicom-container-empty{
    padding: 10px;
    background-color: #1d1d1d;
    overflow: hidden;  
    label {
         color: white;
    }

    .dropzone-widget {
        padding-top: 20px;
        overflow: hidden;
    }

    // .choose-folder-widget {
    //     padding-top: 30px;
    //     overflow: hidden;

    //     .choose-folder-button {
            
    //         padding: 10px;
    //         font-size: .9rem;
    //         display: inline-block;
    //         width: fit-content;
    //         background: #00558b;//#333
    //         color: #ffffff;
    //         margin: 0px;
    //         overflow: hidden;

    //         &:focus, &:hover {
    //             background: #004876;
    //             color: #fff;
    //         }         
    //     }
    // }
}