/*
# Rocket viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Rocket viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Rocket viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# María del Pilar García
# Daniele Pezzatini
# Contributors: 
# Sergio Sánchez Martínez
*/

@import './../../rkt_button/rkt_button_icon_circle_text_big/rkt_button_icon_circle_text_big.scss';
@import './../../rkt_animation/rkt_animation_loading/rkt_animation_loading.scss';

.tiff-viewer-right-menu{
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    position: absolute;
    right: right;
    right: 0px;
    top:0px;
}

.rkt-viewer-tiff{
    overflow: hidden;
}

.example-appear {
    opacity: 0.01;
  }
  
  .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }
  