@import './../../rkt_button/rkt_button_icon_circle_text_big/rkt_button_icon_circle_text_big.scss';
@import './../../rkt_animation/rkt_animation_loading/rkt_animation_loading.scss';

.tiff-viewer-right-menu{
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    position: absolute;
    right: right;
    right: 0px;
    top:0px;
}

.rkt-viewer-tiff{
    overflow: hidden;
}

.example-appear {
    opacity: 0.01;
  }
  
  .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }
  