/*
# Rocket viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Rocket viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Rocket viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# María del Pilar García
# Daniele Pezzatini
# Contributors: 
# Sergio Sánchez Martínez
*/

$purpleHover:#a58cd8;

.rkt-modal-todo-list-item {
    margin-left:30px;
    margin-right:30px;

    padding-left:30px;
    padding-right:30px;
    padding-top:5px;
    padding-bottom:5px;
    border-bottom: 1px solid #ffffff24;

    p {
        color:rgba(255, 255, 255, 0.89);
        margin:0px;
        font-size: 25px;
    }

    .rkt-modal-todo-list-item-erase-button {

        .deleteIconButton {
            color:white;
            position: relative;
            margin-top: 10px;
            font-size:x-large; 

            &:hover{
                color:$purpleHover;
            }
        }
    }
}