@import './rkt_viewer_file_picker_old_grid_content_thumbnail/rkt_viewer_file_picker_old_grid_content_thumbnail.scss';

.file-picker-grid-content {
    padding: 10px;
    background-color: #1d1d1d;
    overflow-y: scroll;
}