/*
# Rocket viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Rocket viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Rocket viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# María del Pilar García
# Daniele Pezzatini
# Contributors: 
# Sergio Sánchez Martínez
*/

.container-thumbnail {
    padding: 0px;
    overflow: hidden;

    .error-not-image{
        color: #991111;
        display: block;
        text-align: center;
        margin-top: 10%;
    }
      
    .loading-icon{
        color: #efefef;
        display: block;
        text-align: center;
        margin-top: 40%;
    }
    
    .image-thumbnail{
        overflow: hidden;
        border: 2px solid #1d1d1d;
        display: block;
        // &:hover{
        //     border: 2px solid #00558b;
        // }
    }
    
    .image-thumbnail.selected{
        border: 2px solid #00558b;
        display: block;
    }
    
    .image-filename{
        padding-top: 5px;
        overflow: hidden;
        display: block;
        
        color: white;
        text-align: center;
    }
}
  