
.file-picker-viewer {
    width: 50%;
    background-color: #282828;
    height: 100%;
    color:white;
    overflow: hidden;

    .container-instructions p{
        width: 100%;
        text-align: center;
        padding: 20px;
    }
}

