@import './rkt_viewer_file_picker_grid_content_drag_source/rkt_viewer_file_picker_grid_content_drag_source.scss';

.file-picker-grid-content {
    padding: 10px;
    background-color: #1d1d1d;
    overflow-y: scroll;
}