/*
# Rocket viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Rocket viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Rocket viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# María del Pilar García
# Daniele Pezzatini
# Contributors: 
# Sergio Sánchez Martínez
*/

$purpleMain: #443363;//rgb(110, 83, 158);
$purpleHover:#a58cd8;

.filtered-dicom-container {
    width: 50%;
    background-color: #282828;
    height: 100%;
    overflow: hidden;
    justify-content: center;

    .save-button {
        
        overflow: hidden;
        white-space: nowrap;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        position: absolute;
        bottom: 0px; //5%;
        color: #ffffff;
        background: $purpleMain;
    
        &:hover {
            background: $purpleHover;
            color: #fff;
        }
    }
    
}



