/*
# Rocket viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Rocket viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Rocket viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# María del Pilar García
# Daniele Pezzatini
# Contributors: 
# Sergio Sánchez Martínez
*/

@import './../../rkt_animation/rkt_animation_loading/rkt_animation_loading.scss';

.rkt-viewer-ply {
    overflow: hidden;    
}

.container-viewer {
	margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: black;
}

.container-axes {
    position: absolute;
    width: 150px;
    height: 150px;
    border: none;
    margin: 0;
    padding: 0px;
    left: 20px;
    bottom: 20px;
    z-index: 2;
    background-color: transparent;
}