@import './../../rkt_animation/rkt_animation_loading/rkt_animation_loading.scss';

.rkt-viewer-pdf{
    text-align:center;
    background-color: black;
    padding-top: 50px;
    color: black;
}

.center {
    display:inline-block;
    height:250px;
    width:15%;
    margin: 0 auto;
    border: 1px solid black;
    color: black;
}